<table mat-table [dataSource]="dataSource" class="table">
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox
        (change)="$event ? masterToggle() : null"
        [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()"
      >
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox
        (click)="$event.stopPropagation()"
        (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)"
      >
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="id">
    <th class="coluna-id" mat-header-cell *matHeaderCellDef>Id.</th>
    <td mat-cell *matCellDef="let element">{{ element.idConta }}</td>
  </ng-container>

  <ng-container matColumnDef="descricaoConta">
    <th class="coluna-desc" mat-header-cell *matHeaderCellDef>Descrição</th>
    <td mat-cell *matCellDef="let element">{{ element.descricaoConta }}</td>
  </ng-container>

  <ng-container matColumnDef="vencimento">
    <th class="col-venci" mat-header-cell *matHeaderCellDef>Vencimento</th>
    <td mat-cell *matCellDef="let element">
      {{ element.vencimento | date: "dd/MM/yyyy" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="situacaoConta">
    <th class="col-situacao" mat-header-cell *matHeaderCellDef>Situação</th>
    <td mat-cell *matCellDef="let element">
      {{ element.situacaoConta | situacao }}
    </td>
  </ng-container>

  <ng-container matColumnDef="acoes">
    <th mat-header-cell *matHeaderCellDef>Ações</th>
    <td mat-cell *matCellDef="let element">
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr
    [class]="getClass(row)"
    mat-row
    *matRowDef="let row; columns: displayedColumns"
  ></tr>
</table>
