.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container-header {
  width: 100%;
}

.justify-center {
  justify-content: center;
}

.container-body {
  width: 100%;
  height: 100%;
}

.verde {
  background-color: #8bde16;
}

.posicao-btn-menu {
  position: absolute;
  top: 1%;
  right: 0%;
}

.full-width {
  display: flex;
  width: 100%;
  justify-content: center;
}

.inside-position {
  width: 98%;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.rodape {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.legenda{
    width: 24px;
    height: 21px;
}

.vencida{
  background-color: #ff000c3d !important;
}

.vence-hoje{
  background-color: #ffeb017d !important;
}

.posicao-leg{
  display: flex;
    align-items: center;
}

.disp-leg{
  display: flex;
  position: absolute;
  right: 0%;
}

.posicao-btn-user{
  position: absolute;
  top: 1%;
  left: 0%;
}
