<form [formGroup]="conta">
  <div class="container-form">
    <div class="container-header">
      <p>
        <mat-toolbar class="justify-center">
          <span>Conta a pagar</span>
        </mat-toolbar>
      </p>
    </div>
    <mat-form-field>
      <mat-label>Descrição</mat-label>
      <input
        matInput
        #descricao
        [value]="descricao.value.toUpperCase()"
        maxlength="50"
        formControlName="descricao"
      />
      <mat-error *ngIf="!conta.hasError('required')">
        adicione a descrição
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Vencimento</mat-label>
      <input matInput type="date" formControlName="vencimento" />
      <mat-error *ngIf="!conta.hasError('required')">
        adicione a vencimento
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Empresa responsável</mat-label>
      <mat-select formControlName="idEmpresaResposavel">
        <mat-option *ngFor="let empresa of empresas" [value]="empresa.id">
          {{ empresa.descricao }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Comentários adicionais</mat-label>
      <textarea
        #coment
        [value]="coment.value.toUpperCase()"
        maxlength="500"
        matInput
        formControlName="comentarios"
      ></textarea>
    </mat-form-field>

    <div class="margin">
      <label for="file">Boleto de pagamento: </label>
      <input
        type="file"
        id="file"
        accept="application/pdf"
        (change)="handleFileInput($event)"
        formControlName="boleto"
      />
    </div>
    <div class="btns-salve">
      <button (click)="salvar()" mat-raised-button color="primary">
        Salvar
      </button>
      <button (click)="cancelar()" mat-raised-button color="warn">
        Cancelar
      </button>
    </div>
  </div>
</form>
